<div class="details-box">
  <div class="vote-box">
    <%= erb :"_vote", layout: false, locals: {thing: detail}%>
  </div>
  <div class="edit-box">
    <%= erb :"_admin", layout: false, locals: {detail: detail}%>
  </div>

    <div class="body-text">
      <p><%= detail.body %></p>
      <p style="color: #808080"><i>Written by: <%=detail.user.username %></i></p>
    </div>

    <div class="comments-box">
      <div class="add-comment">
        <h4>Comments: </h4>
        <h5><a href='<%= detail.get_route %>/comments/new' class='new-comment-link'>Add a comment</a></h5>
        <div class="new-comment-submission">
        </div>
      </div>
      <% detail.comments.each do |comment| %>
        <%= erb :"_comment", layout: false, locals: {comment: comment}%>
        <% end %>
    </div>
  </div>
