<div class="details-box">
  <div class="vote-box">
    <%= erb :"_vote", layout: false, locals: {thing: detail}%>
  </div>
  <div class="edit-box">
    <% if authorized_user?(detail) %>
    <form method="get" action="<%= detail.get_route %>/edit" class="right">
      <input type="submit" name="edit" value="Edit" class="btn btn-default inline btn-xs">
      <form method="post" action="<%= detail.get_route %>" class="right">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="delete" value="Delete" class="btn btn-default inline btn-xs">
      </form>
      <% end %>
    </div>

    <div class="body-text">
      <p><%= detail.body %></p>
      <p style="color: #808080"><i>Written by: <%=detail.user.username %></i></p>
    </div>

    <div class="comments-box">
      <div class="add-comment">
        <h4>Comments: </h4>
        <h5><a href='<%= detail.get_route %>/comments/new' class='new-comment-link'>Add a comment</a></h5>
        <div class="new-comment-submission">
        </div>
      </div>
      <% detail.comments.each do |comment| %>
        <%= erb :"_comment", layout: false, locals: {comment: comment}%>
        <% end %>
    </div>
  </div>
