<div class="details-box">
  <div class="vote-box">
    <%= erb :"_vote", layout: false, locals: {thing: detail}%>
  </div>
  <div class="edit-box">
    <% if authorized_user?(detail) %>
    <a href="<%= detail.get_route %>/edit">Edit</a>
    <form method="post" action="<%= detail.get_route %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="delete" value="Delete">
    </form>
    <% end %>
  </div>

  <div class="body-text">
    <p><%= detail.body %></p>
  </div>

  <div class="username-box">
    <p><%=detail.user.username %></p>
  </div>


  <div class="add-comment"> 
   <h3>Comments: </h3>
   <h4><a href='<%= detail.get_route %>/comments/new'>Add a comment</a></h4>
 </div>
 <% detail.comments.each do |comment| %>
 <div class="comments-box">



  <div class="individual-comment">
   <div class="vote-box">
    <%= erb :"_vote", layout: false, locals: {thing: comment} %>
  </div>

  <div class="comment-text">
    <%=comment.body%> - <%= comment.user.username %>
  </div>

  <div class="comment-edit">
    <% if authorized_user?(comment) %>
    <a href="<%= comment.get_route %>/edit">Edit</a>
    <form method="post" action="<%= comment.get_route %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="delete" value="Delete">
    </form>
    <% end %>
  </div>
</div>




</div>
<% end %>
</div>
