<div class="details">
  <% if logged_in? %>
  <%= erb :"_vote", layout: false, locals: {thing: detail}%>
  <% end %>
  <p><%= detail.body %></p>
  <p><%=detail.user.username %></p>
  <h3>Comments: </h3>
  <h4><a href='<%= detail.get_route %>/comments/new'>Add a comment</a></h4>
  <ul class="comments">
    <% detail.comments.each do |comment| %>
    <li><%= erb :"_vote", layout: false, locals: {thing: comment}%><%=comment.body%> - <%= comment.user.username %></li>
    <% end %>
  </ul>
</div>
