<div class="question-box">
  <article id="<%= question.id %>"> 
    <%= erb :"_vote", layout: false, locals: {thing: question} %>
    <div class="question-details">
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>
        Posted by: <a href='/users/<%= question.user.id %>'><%= question.user.username %></a><%=" | Up votes: #{question.votes.up.count} | Down votes: #{question.votes.down.count} | Answers: #{question.answers.count} | Last updated: #{question.updated_at.to_date}" %>
      </p>
    </div>
  </article>
</div>

